{% from 'macros.j2' import render_pagination %}
{% extends 'base.html' %}

{% block title %}Projects{% endblock %}
{% block content %}
<h2>Projects</h2>

<ul>
    {% for name, display_name, summary in projects.items %}
        <li><a href="{{url_for('.project', name=name)}}">{{display_name|e}}</a> &#x2014; {% if summary != None %}{{summary|e}}{% else %}<span class="no-summary">no summary</span>{% endif %}</li>
    {% endfor %}
</ul>

{{render_pagination(projects, '.project_list')}}

{% endblock %}
