{% from 'macros.j2' import render_pagination %}
{% extends 'base.html' %}

{% block title %}Wheelodex &#x2014; Search Modules{% if search_term %} &#x2014; {{search_term|e}}{% endif %}{% endblock %}

{% block content %}
<div class="breadcrumbs">
    <a href="{{url_for('.index')}}">Wheelodex</a>
    &#xBB; Search Modules
</div>

<form action="{{url_for('.search_modules')}}" method="GET">
    <b>Search for a Module:</b> <input type="text" name="q" value="{{search_term|e}}"/> <input type="submit" value="Search"/>
</form>

{% if results != None %}
    {% if results.total == 0 %}
        No results
    {% else %}
        <ul>
            {% for p, whl, module in results.items %}
                <li><a href="{{url_for('.wheel_data', project=p.name, wheel=whl.filename)}}">{{whl.filename|e}}</a> &#x2014; <code>{{module.name|e}}</code></li>
            {% endfor %}
        </ul>
        {{render_pagination(results, '.search_modules', q=search_term)}}
    {% endif %}
{% endif %}

{% endblock %}
