# Python ~= 3.5
click             ~= 6.5
distlib           ~= 0.2.7
headerparser      ~= 0.2.0
packaging         >= 16
readme_renderer   ~= 21.0
requests          == 2.*
requests_download ~= 0.1.2
retrying          ~= 1.3.3
setuptools        >= 36  # for pkg_resources
SQLAlchemy        ~= 1.1
SQLAlchemy-Utils  ~= 0.33.4

psycopg2-binary   ~= 2.7
