<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>{% block title %}{% endblock %}{% if request.args.get('page', '1') != '1' %} &#x2014; Page {{request.args['page']}}{% endif %}</title>
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles.css')}}"/>
</head>
<body>
<div class="main">
{% block content %}{% endblock %}
</div>
</body>
</html>
