{% from 'macros.j2' import render_pagination %}
{% extends 'base.html' %}

{% block title %}Wheelodex &#x2014; {{ep_group.name|e}}{% endblock %}

{% block content %}
<div class="breadcrumbs">
    <a href="{{url_for('.index')}}">Wheelodex</a>
    &#xBB; <a href="{{url_for('.entry_point_groups')}}">Entry Points</a>
    &#xBB; {{ep_group.name|e}}
</div>

<div class="search-header">
    <form action="{{url_for('.search_projects')}}" method="GET">
        <input type="text" name="q" placeholder="Search Projects"/>
    </form>
</div>

<h2>{{ep_group.name|e}}</h2>

{% if ep_group.description %}
{{ep_group.description|markdown}}
{% endif %}

<table class="entry_points">
    <tr>
        <th>Project</th>
        <th>Entry Point</th>
    </tr>
    {% for project, ep in project_eps.items %}
        <tr>
            <td class="project"><a href="{{url_for('.project', project=project.name)}}">{{project.display_name|e}}</a></td>
            <td class="epname">{{ep|e}}</td>
        </tr>
    {% endfor %}
</table>

{{render_pagination(project_eps, '.entry_point', group=ep_group.name)}}

{% endblock %}
