{% extends 'base.html' %}

{% block title %}Wheelodex &#x2014; an Index of Wheels{% endblock %}

{% block content %}

<p><a href="{{url_for('.about')}}">About</a> &#xB7; <a href="{{url_for('.json_api')}}">JSON API</a></p>

<h1>Wheelodex</h1>

<p class="slogan">An Index of Python Wheels</p>

Serving data for {{proj_qty}} projects and {{whl_qty}} wheels

<p><a href="{{url_for('.project_list')}}">Browse Projects</a></p>

<p><a href="{{url_for('.entry_point_groups')}}">Browse Entry Point Groups</a></p>

<p><a href="{{url_for('.recent_wheels')}}">Recently-Analyzed Wheels</a></p>

<p><a href="{{url_for('.rdepends_leaders')}}">Most Depended-On Projects</a></p>

<fieldset>

<legend>Search Wheels:</legend>

<form action="{{url_for('.search_projects')}}" method="GET">
    <b>Project Name:</b> <input type="text" name="q"/> <input type="submit" value="Search"/>
</form>

<form action="{{url_for('.search_modules')}}" method="GET">
    <b>Python Module:</b> <input type="text" name="q"/> <input type="submit" value="Search"/>
</form>

<form action="{{url_for('.search_files')}}" method="GET">
    <b>File:</b> <input type="text" name="q"/> <input type="submit" value="Search"/>
</form>

<form action="{{url_for('.search_commands')}}" method="GET">
    <b>Command:</b> <input type="text" name="q"/> <input type="submit" value="Search"/>
</form>

<p>All searches are case-insensitive and support globbing with <code>*</code> and <code>?</code>.</p>

</fieldset>

<p><a href="https://github.com/jwodder/wheelodex">Wheelodex on GitHub</a></p>

{% endblock %}
