{% extends 'base.html' %}

{% block title %}Wheelodex &#x2014; {{project.display_name|e}}{% endblock %}

{% block content %}
<div class="breadcrumbs">
    <a href="{{url_for('.index')}}">Wheelodex</a>
    &#xBB; <a href="{{url_for('.project_list')}}">Projects</a>
    &#xBB; {{project.display_name|e}}
</div>

<div class="search-header">
    <form action="{{url_for('.search_projects')}}" method="GET">
        <input type="text" name="q" placeholder="Search Projects"/>
    </form>
</div>

<h1>{{project.display_name|e}}</h1>

<p style="text-align: center">
    <a href="https://pypi.org/project/{{project.display_name|e}}/">View on PyPI</a> &#x2014;
    <a href="{{url_for('.rdepends', project=project.name)}}">Reverse Dependencies</a> ({{rdepends_qty}})
</p>

<p>No wheels registered for this project.</p>
{% endblock %}
