{% extends 'base.html' %}

{% block title %}Wheelodex &#x2014; Most Depended-On Projects{% endblock %}

{% block content %}
<div class="breadcrumbs">
    <a href="{{url_for('.index')}}">Wheelodex</a>
    &#xBB; Most Depended-On Projects
</div>

<div class="search-header">
    <form action="{{url_for('.search_projects')}}" method="GET">
        <input type="text" name="q" placeholder="Search Projects"/>
    </form>
</div>

<h2>Most Depended-On Projects</h2>

<table border="1">
    <tr>
        <th>Project</th>
        <th>Reverse Dependencies</th>
    </tr>
    {% for p,q in leaders %}
        <tr>
            <td><a href="{{url_for('.project', project=p.name)}}">{{p.display_name|e}}</a></td>
            <td style="text-align: right">{{q}}</td>
        </tr>
    {% endfor %}
</table>

{% endblock %}
