{% from 'macros.j2' import render_pagination %}
{% extends 'base.html' %}

{% block title %}Wheelodex &#x2014; Search Files{% if search_term %} &#x2014; {{search_term|e}}{% endif %}{% endblock %}

{% block content %}
<div class="breadcrumbs">
    <a href="{{url_for('.index')}}">Wheelodex</a>
    &#xBB; Search Files
</div>

<form action="{{url_for('.search_files')}}" method="GET">
    <b>Search for a File:</b> <input type="text" name="q" value="{{search_term|e}}"/> <input type="submit" value="Search"/>
</form>

{% if results != None %}
    {% if results.total == 0 %}
        No results
    {% else %}
        <dl>
            {% for whl, files in results.items %}
                <dt><a href="{{url_for('.wheel_data', project=whl.project.name, wheel=whl.filename)}}">{{whl.filename|e}}</a></dt>
                <dd>
                    <ul>
                        {% for f in files|nsmallest(files_per_wheel) %}
                            <li><code>{{f|e}}</code></li>
                        {% endfor %}
                        {% if files|length > files_per_wheel %}
                            <li>&#x2026;</li>
                        {% endif %}
                    </ul>
                </dd>
            {% endfor %}
        </dl>
        {{render_pagination(results, '.search_files', q=search_term)}}
    {% endif %}
{% endif %}

{% endblock %}
