---
- name: Install fail2ban and ufw
  apt:
    name:
        - fail2ban
        - ufw
    state: present
    update_cache: false

- name: Configure fail2ban
  copy:
    src: "fail2ban/{{item}}"
    dest: "/etc/fail2ban/{{item}}"
    backup: true
  with_items:
    - fail2ban.d/dbpurgeage.local
    - jail.d/defaults.local
    - jail.d/recidive.local
    - jail.d/sshd.local
  notify:
    - Restart fail2ban

#- name: Reset any changes made to ufw
#  ufw: state=reset

- name: Deny all incoming connections
  ufw: policy=deny proto=any direction=incoming

- name: Allow incoming SSH and HTTP(S) connections
  ufw: rule=allow to_ip=any to_port={{item}} proto=any direction=in
  with_items:
    - "22"
    - "80"
    - "443"

- name: Enable ufw
  ufw: state=enabled

- name: Forbid root login over SSH
  lineinfile:
    dest: /etc/ssh/sshd_config
    regexp: '^#?PermitRootLogin\s+'
    line: 'PermitRootLogin no'
  notify:
    - Restart SSHd

- name: Disable password login over SSH
  lineinfile:
    dest: /etc/ssh/sshd_config
    regexp: '^#?PasswordAuthentication\s+'
    line: 'PasswordAuthentication no'
  notify:
    - Restart SSHd
