---
- name: Install fail2ban and ufw
  ansible.builtin.apt:
    name:
      - fail2ban
      - ufw
    state: present
    update_cache: false

- name: Configure fail2ban
  ansible.builtin.copy:
    src: fail2ban/{{ item }}
    dest: /etc/fail2ban/{{ item }}
    mode: "0644"
    backup: true
  with_items:
    - fail2ban.d/dbpurgeage.local
    - jail.d/defaults.local
    - jail.d/recidive.local
    - jail.d/sshd.local
  notify:
    - Restart fail2ban

# - name: Reset any changes made to ufw
#   ufw: state=reset

- name: Deny all incoming connections
  community.general.ufw:
    policy: deny
    proto: any
    direction: incoming

- name: Allow incoming SSH and HTTP(S) connections
  community.general.ufw:
    rule: allow
    to_ip: any
    to_port: "{{ item }}"
    proto: any
    direction: in
  with_items:
    - "22"
    - "80"
    - "443"

- name: Enable ufw
  community.general.ufw:
    state: enabled

- name: Configure SSH
  ansible.builtin.copy:
    src: sshd.conf
    dest: /etc/ssh/sshd_config.d/99local.conf
    mode: "0644"
  notify:
    - Restart SSHd
