body {
    font-family: helvetica, sans-serif;
    font-size: 15px;
    color: #000000;
    background-color: #ffffff;
}

div.main {width: 500pt; margin-left: auto; margin-right: auto; }

h1 {font-size: 32px; text-align: center; }
h2 {font-size: 24px; text-align: center; }
h3 {font-size: 18px; text-align: center; }
h4 {font-size: 16px; text-align: center; }
h5 {font-size: 13px; text-align: center; }
h6 {font-size: 10px; text-align: center; }
h2 code, h4 code {font-size: 80%; }

p {text-align: justify; }

code, pre {
    font-size: 10px;  /* Should font-size be 80% instead? */
    font-family: monaco, courier, monospace;
}

ul {list-style-type: disc; }
li {text-align: justify; margin-bottom: 5px; }

/* li > p:first-child {margin-top: 0px; } */

table {border-collapse: collapse; }
th {text-align: justify; }
td {vertical-align: top; }

blockquote {font-style: italic; text-align: justify; }
hr {width: 450px; height: 2px; text-align: center; }
img {margin: 0px; vertical-align: middle; }
fieldset {padding: 5px; }

a:link    {color: #0000ff; text-decoration: underline; }
a:hover   {color: #ffff00; text-decoration: underline; }
a:active  {color: #ffff00; text-decoration: none; }
a:visited {color: #ff0000; text-decoration: underline; }

.dist_info_links {
    text-align: center;
}

.dist_info_file {
    background-color: #dddddd;
    font-family: monospace;
}

.dist_info_file a:active {
    color: #ffffff;
}

.dist_info_file .body {
    margin-top: 2ex;
}

td.nil {
    text-align: center;
}

.record tr:nth-child(even) {background-color: #FFFF80; }

.record .path {
    font-family: monospace;
    font-size: 80%;
}

.record .digests {
    font-family: monospace;
    font-size: 80%;
}

.record .size {
    text-align: right;
}

.pagination {
    text-align: center;
}

.no-summary {
    font-style: italic;
    color: #cccccc;
}

.versions-wheels-grid .wheel-data {
    font-size: 10px;
    font-family: monaco, courier, monospace;
}

.versions-wheels-grid .wheel-nodata {
    font-size: 10px;
    font-family: monaco, courier, monospace;
    font-style: italic;
    /*color: #cccccc;*/
}

.versions-wheels-grid .current-wheel {
    font-weight: bold;
}

.epgroup {
    margin-top: 2ex;
}

.epgroup:first {
    margin-top: 0ex;
}

.at {
    /* "[at]" used to "obfuscate" e-mail addresses */
    color: #0000ff;
}

.url-placeholder {
    font-style: italic;
}

.slogan {
    font-style: italic;
    text-align: center;
}

.empty-file {
    font-style: italic;
}

.timestamp {
    white-space: nowrap;
}
