---
- name: Apt-get update
  ansible.builtin.apt:
    update_cache: true

- name: Install core packages
  ansible.builtin.apt:
    name:
      - build-essential
      - python3-dev
      - unattended-upgrades
    state: present
    update_cache: false

- name: Create swap space
  ansible.builtin.command: fallocate -l {{ ansible_memtotal_mb * 2 }}M /swapfile
  args:
    creates: /swapfile
  register: core_created_swap

- name: Create swapfile  # noqa: no-handler
  when: core_created_swap is changed
  block:
    - name: Set swapfile mode
      ansible.builtin.file:
        path: /swapfile
        mode: "0600"
    - name: Make swapfile swappy
      ansible.builtin.command: mkswap /swapfile
      changed_when: true
    - name: Add swapfile to fstab
      ansible.builtin.lineinfile:
        dest: /etc/fstab
        line: "/swapfile none swap sw 0 0"
    - name: Enable swapfile
      ansible.builtin.command: swapon /swapfile
      changed_when: true

- name: Set timezone to UTC
  community.general.timezone:
    name: Etc/UTC

- name: Enable unattended upgrades
  ansible.builtin.debconf:
    name: unattended-upgrades
    question: unattended-upgrades/enable_auto_updates
    answer: "true"
    vtype: boolean
  notify:
    - Enable new unattended-upgrades settings

- name: Configure APT and unattended-upgrades
  ansible.builtin.copy:
    src: apt.conf
    dest: /etc/apt/apt.conf.d/99local
    mode: "0644"

- name: Create journald.conf.d
  ansible.builtin.file:
    path: /etc/systemd/journald.conf.d
    state: directory
    owner: root
    group: root
    mode: "0755"

- name: Configure journald
  ansible.builtin.copy:
    src: journald.conf
    dest: /etc/systemd/journald.conf.d/99local.conf
    backup: true
    mode: "0644"
  notify:
    - Restart journald
