---
- name: Install PostgreSQL
  ansible.builtin.apt:
    name:
      - postgresql
      # Needed by Ansible's postgresql modules:
      - libpq-dev
      - python3-psycopg2
    state: present
    update_cache: false

- name: Create database user
  community.postgresql.postgresql_user:
    name: "{{ postgres_dbuser }}"
    password: "{{ postgres_dbpass }}"
    encrypted: true
    state: present
    role_attr_flags: NOSUPERUSER,NOCREATEDB,CREATEROLE,LOGIN
  become: true
  become_user: postgres

- name: Create database
  community.postgresql.postgresql_db:
    name: "{{ postgres_dbname }}"
    owner: "{{ postgres_dbuser }}"
    encoding: UNICODE
    lc_collate: C
    lc_ctype: C
    template: template0
    state: present
  become: true
  become_user: postgres

- name: Log slow queries
  community.postgresql.postgresql_alter_system:
    param: log_min_duration_statement
    value: "1000"
  become: true
  become_user: postgres
